.dlsc-bg-video{
    background: linear-gradient(to top, #0a6218 0%, #075c0b 100%);
    width: 100%;
}

.dlsc-inner-text{
                  font-size: 1.5rem;
                  line-height: 25px;
                  text-align: justify;
                  font-weight: 200;
    font-style: normal;
}


.info-title h2{
              margin-top: 20vh;   
             align-content: center;

}
.info-title p{
                  text-align: justify;    
                  font-weight: 200;
                  line-height: 1.4rem;
                  font-size: 1.5rem;
                  
                  font-weight: 200;
                  
}
.dlsc-title h1{
    color: white;
}
.dlsc-title p{
font-size: 1.4rem;
padding-left: 3rem;
padding: 3rem;
padding-right: 3rem;
color: rgb(255, 255, 255);
font-weight: 300;
line-height: 42px;
  
}